<section>
	<div class="content">
		<h1 class="content__title">Редагування товару</h1>


		<form action="/product-update" method="POST" class="form">
			<h1 class="form__title">Інформація про товар</h1>


			<div class="form__content">
				<div class="form__field">
					<label for="name" class="form__label">Назва товару</label>
					<input type="text" id="name" name="name" value="{{product.name}}" required class="form__input">
				</div>
				<div class="form__field">
					<label for="price" class="form__label">Ціна</label>
					<input type="number" id="price" name="price" value="{{product.price}}" required class="form__input">
				</div>
				<div class="form__field">
					<label for="id" class="form__label">ID</label>
					<input type="text" id="id" name="id" value="{{product.id}}" readonly class="form__input">
				</div>
			</div>
			<div class="form__field">
				<label for="description" class="form__label">Короткий опис товару:</label>
				<textarea type="text" id="description" name="description"
					class="form__input form__input--big">{{product.description}}</textarea>
				<span class="form__span">Відображається у картці товару</span>
			</div>

			<div class="button-group">
				<button type="submit" class="button">Зберегти оновлення</button>

				<button type="submit" formmethod="GET" formaction="/product-delete"
					class="button button__delete">Видалити продукт</button>

			</div>
		</form>

	</div>
</section>