{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="alert">
	<div>
		<h1 class="alert__title">Успішне виконання дії</h1>
		<p>{{message}}</p>
	</div>

	<a href='/product-list' class="alert__button">Повернутись назад</a>
</div>


{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}