@use '../../lib/service.scss' as s;


.alert {
	margin: 24px;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	padding: 20px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__button {
		display: grid;
		border: 1px solid s.color('light');
		padding: s.space(2);
		border-radius: s.space(1);
		background-color: rgb(48, 48, 238);
		text-decoration: none;

		color: white;

	}

	&__title {
		font-size: 20px;
		font-weight: bold;	}

div {
	display: flex;
	flex-direction: column;
	gap: s.space(3)
}
	
}