@use '../../lib/service.scss' as s;	

	.product-card {
	border-radius: 10px;
	border: 1px solid s.color(border);
	padding: s.space(4); ;
	display: flex;
	flex-direction: column; 
	align-items: flex-start; 
	gap: s.space(3); 
	justify-content: space-between;


	
	&__image {
	max-height: 300px;
	width: 100%;
	}

	&__title {
	font-size: 20px;
	font-weight: bold;
	}

	&__subtitle {
	font-size: 16px;
	color: s.color(gray);
	}

	&__category { 
	padding: s.space(1) s.space(3);
	border-radius: 30px;
	font-size: 16px;
	color: s.color(dark); 
	border: 1px solid transparent;
	}
	
	&__category—1 {
	border-color: blue; 
	color: blue;
	}
	
	&__category—2 { 
	border-color: green; 
	color: green;
	}
	
	&__button { 
	background-color: blue; 
	color: white; 
	border: none;
	border-radius: s.space(1);
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: opacity 0.3s ease;

		&:hover {
			opacity: 0.7;
		}

	}}
